*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}


a{text-decoration: none;color: black;}
a:hover{text-decoration: none;color: black;}

div{
  transition: all 0.5s ease;
}

#loader {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: vanish 1s ease forwards;
  position: absolute;
}

@keyframes vanish {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: hidden
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: hidden
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


header{
  /*border: 1px solid black;*/
  display: flex;
  width: 95vw;
  height: 75px;
  margin: 1% auto;
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid white;
  transition: all 0.5s ease;
}

header:hover{
  border-color: black;
}

header *{
  margin: auto;
}


#logo{margin: 10px;}
#logo,#logo img{
  width: 50px;
  height: 50px;
}

#logo:hover{
  transform: scale(1.2) translateY(-5px);
  /*box-shadow: 0px 5px 5px #00000050;*/
  filter: drop-shadow(5px 10px 2px rgba(0, 0, 0, 0.2));
}

#logo:active{
  transform: scale(0.8) translateY(5px);
}

.standHr{
  width: 0px;
  border: 1.45px solid rgb(49, 49, 49);
  border-radius: 10px;
  height: 22%;
}

nav{
  width: 48vw;
  display: flex;
}

nav div{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 8px;
}

nav div:hover{
  border: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

nav div:active{
  transform: scale(0.9);
}

#more{
  width: 230px;
  display: inline-flex;
  margin: 0px;
}

#mobileNav{
  padding: 8px;
  display: none;
  box-sizing: border-box;
}

#mobileNav img{
  width: 24px;
  height: 22px;
}

#mobileNav:hover{
  outline: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

#mobileNav:active{
  transform: scale(0.9);
}

#mobileNavCover{
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #00000080;
  bottom: 0px;
  height: calc(100vh - 82px);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}

#mobileNavWindow{
  width: 180px;
  position: absolute;
  background-color: white;
  top: 10px;
  right: 10px;
  padding: 5px;
  height: 10px;
  transition: all 0.5s ease;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 5px #00000030;
}

#mobileNav-R div{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  margin: 10px;
}

#mobileNav-R div:hover{
  border: 12px solid rgb(231, 231, 231);
  border-radius: 30px;
  padding: 8px;
  background-color: rgb(247, 247, 247);
}

#mobileNav-R div:active{
  transform: scale(0.9);
}

#not-logined{display: none;}
#logined{display: none;}
#mobileMore-R div{
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
#mob-not-logined{display: none;}
#mob-logined{display: none;}

@media (max-width: 768px) {
  header{width: 100%;margin: 0px;}
  #logo{margin-left: 15px;}
  nav{display: none;}
  header .standHr{display: none;}
  #more {width: 15vw; margin: auto;margin-right: 15px;}
  #profile{margin: auto; margin-bottom: 10px;}
  #nickname{margin: 0px;}
  #not-logined{display: none;}
  #logined{display: none;}
  #mobileNav{display: flex;}
  #mobileNavCover{height: calc(100vh - 75px);}
}

button{
  padding: 10px 15px;
  margin: 5px;
  border: 0.1px solid #FFFFFF10;
  border-radius: 10px;
  background-color: white;
  transition: all 0.5s ease;
  font-size: 16px;
}

.highB{
  background-color: rgb(34, 34, 34);
  color: white;
  border-radius: 20px;
}

.highB:hover{
  background-color: rgb(75, 75, 75);
  border: 4px solid #303030;
}

.midB{
  background-color: white;
  border-radius: 20px;
  border: 1px solid #00000030;
}

.midB:hover{
  background-color: rgb(226, 226, 226);
  border: 2px solid #a3a3a3;
}

#profile{
  width: 45px;
  height: 45px;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  overflow: hidden;
}

#profile img{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
}

#nickname{display: flex; height: 45px;margin-left: 5px;align-content: center; align-items: center;}
#logout{margin: 5px; height: 45px;}

main{
  width: 95vw;
  padding: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#contentListCover{
  width: 80%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentCover{
  width: 90%;
  box-shadow: 0px 4px 10px #00000030;
  border-radius: 20px;
  margin: 10px;
  padding: 3%;
}

.contentCover:hover{
  box-shadow: 0px 10px 10px #00000030;
  transform: translateY(-6px);
}

.contentUser{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.contentUserProf{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #FFCF96;
}

.contentUserInfo{
  padding: 10px;
}

.contentUserNick{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contentUserTime{
  font-size: 13px;
  color: #6C6C6C;
}

.contentContent{
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 4px 10px #00000020;
  padding: 15px;
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 1.8;
}

.contentTail{
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 14px;
}

.contentLike{
  padding: 0 8px;
  border-radius: 40px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.L0{
  background-color: #EAEAEA;
  color: #525151;
}

.L0:hover{
  background-color: #c5c4c4;
  color: rgb(59, 59, 59);
  transform: translateY(-5px);
}

.L1{
  background-color: #FF4D58;
  color: #FFF;
}

.L1:hover{
  background-color: #ff8189;
  color: rgb(253, 234, 234);
  transform: translateY(-5px);
}

.contentComButton{
  padding: 0 8px;
  border-radius: 40px;
  height: 28px;
  background-color: #EAEAEA;
  color: #525151;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.contentComButton:hover{
  background-color: #c5c4c4;
  color: rgb(59, 59, 59);
  transform: translateY(-5px);
}

.mention{
  background-color: #eeba8a;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  transition: all 0.5s ease;
}

.mention:hover{
  background-color: #f19843;
  border-radius: 10px;
}

textarea{
  resize: none;
  /*border: 2px solid #EAEAEA;*/
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: inset 0px 4px 10px #00000030;
  padding: 15px;
  font-size: 15px;
  transition: all 0.5s ease;
}

textarea:hover{
  border: 2px solid #cacaca;
  box-shadow: inset 0px 4px 10px #00000020;
  
}

textarea:focus{
  border: 1.5px solid #00000090;
  color: #00000090;
  box-shadow: inset 0px 4px 10px #00000010, 0px 10px 5px #44444420;
  border-radius: 25px;
  outline: none;
  transform: translateY(-10px);
}

#write textarea{
  width: 100%;
}

#writeSend{
  width: 100px;
  border: 4px solid transparent;
  box-sizing: border-box;
  padding: 5px 5px;
  border-radius: 10px;
}

#write{border: 3px solid #e2e2e2;}
.color{color:#45d38c;}
